{% extends 'base.html' %}
{% block head %}
<title>Post</title>
{% endblock %}

{% block body %}
<div class="container">
    <h2>All post</h2>
    <hr>
    <form action="/post" method="POST" class='form'>
        <div class='form-group'>
            <input type="text" class="form-control" placeholder="Enter title" name='title' , id="title" style="width: 400px;">
        </div>
        <div class='form-group'>
            <input type="text" class="form-control" placeholder="Enter the author" name='author' , id="author" style="width: 400px">
        </div>
        <div class='form-group'>
            <label for="content">Post</label>
            <textarea class="form-control" name='content' , id="content" style="width: 400px" aria-label="Enter content" placeholder="Enter content" rows="3">

            </textarea>
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-success" name="" id="" value="Post" style="margin-top:5px;">
        </div>
    </form>
    <hr>

</div>
{% endblock %}